* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

body {
    background: linear-gradient(to right, rgb(36, 36, 36), rgb(50, 82, 88));
    text-align: center;
}

.title {
    margin-top: 15%;
    color: white;
    letter-spacing: 2px;
}

.coming-soon {
    color: white;
    margin-top: 10vh;
    font-size: 40px;
    font-style: italic;
    letter-spacing: 2px;
}